<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .field-error-input {
            border-color: #dc3545;
            color: #dc3545;
            background-color: #ffe6e6;
        }
    </style>
</head>
<script th:src="@{/js/login-page.js}"></script>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addlogin}">backoffice 로그인</h2>
    </div>

    <form th:action="@{/backoffice/login}" th:object="${login}" method="post">

        <div th:if="${loginError}" class="field-error" th:text="${loginError}"></div>

        <div>
            <label for="loginId" th:text="#{label.login.id}">아이디</label>
            <input type="text" id="loginId" th:field="*{loginId}"
                   th:errorclass="field-error-input" class="form-control"
                   th:attr="placeholder=${#fields.hasErrors('loginId')} ? '' : '아이디를 입력하세요'">
            <div class="field-error" th:errors="*{loginId}">
                아이디 오류
            </div>
        </div>
        <div>
            <label for="password" th:text="#{label.login.password}">비밀번호</label>
            <input type="text" id="password" th:field="*{password}"
                   th:errorclass="field-error-input" class="form-control"
                   th:attr="placeholder=${#fields.hasErrors('password')} ? '' : '비밀번호를 입력하세요'">
            <div class="field-error" th:errors="*{password}">
                비밀번호 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/backoffice/login}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>